# macOS
.DS_Store

# VS Code
.vscode/
!templates/*/.vscode/
!templates/*/.vscode/settings.json

# LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.bbl
*.bcf
*.blg
*.run.xml

# Build directory
build/
!templates/*/build/
!templates/*/build/.gitkeep

TestPaper/
